<section class="my-5 container">
 <div class="row">
    <div class="col">

        <a class="btn btn-success rounded-pill" [routerLink]="['/crear-producto']" routerLinkActive="router-link-active" >Agregar producto</a>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Categoria</th>
                <th scope="col">Ubicacion</th>
                <th scope="col">Nombre</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of productos">
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.categoria }}</td>
                <td>{{ producto.ubicacion }}</td>
                <td>{{ producto.precio }}</td>
                <td>
                  <button [routerLink]="['/producto',producto._id]" routerLinkActive="router-link-active"  >Editar</button>
                  <button (click)="eliminarProducto(producto._id)">Eliminar</button>
                </td>
              </tr>
             
            </tbody>
          </table>
    </div>
 </div>
</section>